.about-us {
  clear: both; /* floatで回り込むことを阻止 */
  margin: 0 auto;
  padding-top: 200px;
}

.about-us-title {
  text-align: right;
}

.about-us-main {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  gap: 80px;
  /* justify-content: space-between; */
  line-height: 4.5rem;
  margin-top: 80px;
}

.about-us-main p {
  margin-left: 30px;
  color: #ddd;
} 

.proxy-img {
  max-width: 720px;
  width: 720px;
  height: 340px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about-us {
    padding-top: 100px;
  }

  .about-us-main {
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;

    p {
      margin: 0;
      font-size: 2rem;
    }
  }

  .proxy-img {
    width: 90%;
  }
}