.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.contact-sen p {
  text-align: center;
  font-size: 2rem;

  &:nth-child(1), &:nth-child(2) {
    margin-bottom: 50px;
  }
}

/* .contact-title {
  text-align: center;
} */

/* ...既存のスタイル... */

@media (max-width: 768px) {
  .contact-container {
    gap: 50px;
  }

  .contact-sen p{
    font-size: 1.5rem;
  }
}
