.achievements {
  text-align: right;
}

.achievements-content {
  margin-top: 111px;
  width: 100%;
}

/* 以下swiperのpaginationに関するcss */
.swiper-pagination {
  position: relative;
  margin-top: 25px;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #929292);
}