header, nav, ul {
  display: flex;
  font-size: 1.5rem;
}

header img, nav li{
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

header {
  height: 10vh;
  justify-content: space-between;
  padding: 0 80px;
  margin-top: 30px;
}

header ul {
  list-style: none;
}

nav {
  align-items: center;
  gap: 30px;
}

nav ul {
  gap: 50px;
  padding: 15px 45px;
  border: #fff 1px solid;
  border-radius: 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header .menu {
    flex-direction: column;

    ul {
      border: none;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%; /* 初期状態では画面の外に隠れている */
    width: 300px;
    height: 100%;
    background-color: #000;
    color: #fff;
    transition: right 0.3s ease; /* スライドインのアニメーション */
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
    justify-content: center;
  }
  
  /* メニューが開いているとき */
  .menu.open {
    right: 0;
  }

  /* ボタンのスタイル */
  .hamburger {
    position: fixed;
    top: 55px;
    right: 70px;
    width: 30px;
    cursor: pointer;
    z-index: 20;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s;
  }

  /* バツ印に変化するスタイル */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  /* メニューリストのスタイル */
  .menu ul {
    list-style-type: none;
    flex-direction: column;  
  }

  .menu li a {
    color: #ffffff;
    text-decoration: none;
  }
  
}